.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #394fca;
  border-bottom: 3px solid #352da0;
}

.dashboard-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-section {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-section li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.left-section li a:hover {
  text-decoration: underline;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dashboard-menu-button {
  text-decoration: none;
  color: #ffffff;
}

.logout {
  background-color: transparent;
  border: none;
  color: #db2828;
  cursor: pointer;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout:hover {
  text-decoration: underline;
}

.logout-icon {
  font-size: 20px;
}